@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    color: #333;
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible,
select:focus-visible,
a:focus-visible {
    outline: none;
}

.carousel__track {
    padding: 20px 0 !important;
}

.skeleton {
    border-radius: 1rem;
    --tw-bg-opacity: 1;
    animation: skeleton 1.8s ease-in-out infinite;
    background-color: rgba(220, 220, 220, var(--tw-bg-opacity));
    background-image: linear-gradient(105deg, transparent 0, transparent 40%, rgba(255, 255, 255, 1) 50%, transparent 60%, transparent 100%);
    background-position-x: -50%;
    background-repeat: no-repeat;
    background-size: 200% auto;
    will-change: background-position;
}

@keyframes skeleton {
    0% {
        background-position-x: 200%;
    }
    100% {
        background-position-x: -200%;
    }
}

.carousel .carousel__prev {
    left: -80px;
    padding: 10px;
    color: #ad2725;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0px 0px 20px 0px #0000000D;
}

.carousel .carousel__next {
    right: -80px;
    padding: 10px;
    color: #ad2725;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0px 0px 20px 0px #0000000D;
}

.carousel__pagination-button::after {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #D9D9D9;
}

.carousel__pagination-button--active::after {
    background: #ad2725;
}

.auth .carousel__pagination {
    position: absolute !important;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.auth .carousel__track {
    height: 500px;
}

.auth img {
    border-radius: 20px;
}

.spinner {
    border-top-color: #4299e1;
    border-left-color: #4299e1;
    animation: spinner-spin 1s infinite linear;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    border-width: 2px;
    width: 20px;
    height: 20px;
}

@keyframes spinner-spin {
    to {
        transform: rotate(360deg);
    }
}